<script id="floorplan-cards-config" type="application/json">
  {
    "floorplanDataFeed": "{{ widget.floorplan_data_feed.value }}",
    "ctaText": "{{ widget.cta_text.value }}",
    "headingColor": "{{ widget.heading_color.value }}",
    "ctaColor": "{{ widget.cta_color.value }}",
    "accentColor1": "{{ widget.accent_color_1.value }}",
    "accentColor2": "{{ widget.accent_color_2.value }}",
    "textColor": "{{ widget.text_color.value }}"
  }
</script>

<div class="floorplans-cards widget">
  <h2>{{ widget.header_text.value}}</h2>
</div>
