.contact-info-sheet.hidden {
  display:none;}
.contact-info-sheet {
  background: white;
  position: fixed;
  z-index: 9999; }
  .contact-info-sheet .info-sheet-toggle,
  .contact-info-sheet .info-sheet-pagination,
  .contact-info-sheet .info-sheet-icon{
    background-repeat: no-repeat;
    display: block; }
  .web-page-template .contact-info-sheet .info-sheet-pagination{
    display: none; }
  .contact-info-sheet .info-sheet-content {
    min-height: 75px;
    padding: 1em 30px; }
  @media screen and (max-width: 667px) {
    .contact-info-sheet {
      background: #404040;
      bottom: 0;
      left: 0;
      width: 100%; }
      .contact-info-sheet.opened {
        bottom: 100%; }
      .contact-info-sheet .info-sheet-nav {
        *zoom: 1; }
        .contact-info-sheet .info-sheet-nav:before, .contact-info-sheet .info-sheet-nav:after {
          content: " ";
          display: table; }
        .contact-info-sheet .info-sheet-nav:after {
          clear: both; }
      .contact-info-sheet .info-sheet-toggle,
      .contact-info-sheet .info-sheet-pagination{
        background-image: url("https://widgets.g5dxm.com/contact-info/contact-icons-light.png"); }
      .contact-info-sheet .info-sheet-toggle {
        float: left;
        padding-left: 50px;
        padding-top: 10px;
        min-height: 50px;
        width: 50%; }
      .contact-info-sheet .info-sheet-phone-btn {
        background-position: 10px 10px; }
      .contact-info-sheet .info-sheet-email-btn {
        background-position: 10px -135px; }
      .contact-info-sheet .info-sheet-chat-btn{
        background-position: 10px -135px;
      }
      .contact-info-sheet .info-sheet-content {
        display: none !important; } }
  @media screen and (max-width: 1169px) {
    .contact-info-sheet .info-sheet-pagination{
      display: none; }
  }
  @media screen and (max-width: 909px) {
    .contact-info-sheet .info-sheet-icon {
      display: none; }
  }
  @media screen and (min-width: 668px) {
    .contact-info-sheet {
      -webkit-transition: left 0.3s ease-in-out;
      -moz-transition: left 0.3s ease-in-out;
      transition: left 0.3s ease-in-out;
      top: 155px;
      left: -375px;
      width: 375px; }
      .contact-info-sheet.opened {
        left: 75px; }
      .contact-info-sheet .info-sheet-nav {
        background: #1b1d1d;
        background: rgba(27, 29, 29, 0.75);
        position: fixed;
        left: 0; }
      .contact-info-sheet .info-sheet-toggle,
      .contact-info-sheet .info-sheet-pagination,
      .contact-info-sheet .info-sheet-icon{
        background-image: url("https://widgets.g5dxm.com/contact-info-sheet/contact-info-sheet-icons-test.png");
        height: 75px;
        width: 75px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; }
      .contact-info-sheet .info-sheet-icon.chat-code{
        text-indent: 0;
        background-image:none;
      }
      .contact-info-sheet .info-sheet-icon.chat-code img{
        max-width: 75px;
        max-height: 75px;
      }
      .contact-info-sheet .info-sheet-phone-btn {
        background-position: center 21px; }
      .contact-info-sheet .info-sheet-email-btn {
        background-position: center -55px; }
      .contact-info-sheet .info-sheet-chat-btn {
        background-position: center -289px; }
      .contact-info-sheet .info-sheet-pagination,
      .contact-info-sheet .info-sheet-icon {
        cursor: pointer; }
      .contact-info-sheet .info-sheet-page-up {
        background-position: center -134px; }
      .contact-info-sheet .info-sheet-page-down {
        background-position: center -214px; }
      .contact-info-sheet .info-sheet-content {
        overflow-y: scroll; } }
