<form>
  <p class="note">To remove photos, simply delete the URL and Caption</p>

  <div class="photo-fields">

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo1_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo1_url.value_field_id }}" >
          Photo 1 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo1_url.value_field_id }}"
          name="{{ widget.gallery_photo1_url.value_field_name }}"
          value="{{ widget.gallery_photo1_url.value | url_encode }}"
          required
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo1_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo1_alt.value_field_id }}" >
          Photo 1 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo1_alt.value_field_id }}"
          name="{{ widget.gallery_photo1_alt.value_field_name }}"
          value="{{ widget.gallery_photo1_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo2_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo2_url.value_field_id }}" >
          Photo 2 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo2_url.value_field_id }}"
          name="{{ widget.gallery_photo2_url.value_field_name }}"
          value="{{ widget.gallery_photo2_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo2_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo2_alt.value_field_id }}" >
          Photo 2 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo2_alt.value_field_id }}"
          name="{{ widget.gallery_photo2_alt.value_field_name }}"
          value="{{ widget.gallery_photo2_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo3_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo3_url.value_field_id }}" >
          Photo 3 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo3_url.value_field_id }}"
          name="{{ widget.gallery_photo3_url.value_field_name }}"
          value="{{ widget.gallery_photo3_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo3_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo3_alt.value_field_id }}" >
          Photo 3 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo3_alt.value_field_id }}"
          name="{{ widget.gallery_photo3_alt.value_field_name }}"
          value="{{ widget.gallery_photo3_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo4_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo4_url.value_field_id }}" >
          Photo 4 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo4_url.value_field_id }}"
          name="{{ widget.gallery_photo4_url.value_field_name }}"
          value="{{ widget.gallery_photo4_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo4_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo4_alt.value_field_id }}" >
          Photo 4 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo4_alt.value_field_id }}"
          name="{{ widget.gallery_photo4_alt.value_field_name }}"
          value="{{ widget.gallery_photo4_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo5_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo5_url.value_field_id }}" >
          Photo 5 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo5_url.value_field_id }}"
          name="{{ widget.gallery_photo5_url.value_field_name }}"
          value="{{ widget.gallery_photo5_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo5_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo5_alt.value_field_id }}" >
          Photo 5 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo5_alt.value_field_id }}"
          name="{{ widget.gallery_photo5_alt.value_field_name }}"
          value="{{ widget.gallery_photo5_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo6_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo6_url.value_field_id }}" >
          Photo 6 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo6_url.value_field_id }}"
          name="{{ widget.gallery_photo6_url.value_field_name }}"
          value="{{ widget.gallery_photo6_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo6_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo6_alt.value_field_id }}" >
          Photo 6 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo6_alt.value_field_id }}"
          name="{{ widget.gallery_photo6_alt.value_field_name }}"
          value="{{ widget.gallery_photo6_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo7_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo7_url.value_field_id }}" >
          Photo 7 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo7_url.value_field_id }}"
          name="{{ widget.gallery_photo7_url.value_field_name }}"
          value="{{ widget.gallery_photo7_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo7_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo7_alt.value_field_id }}" >
          Photo 7 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo7_alt.value_field_id }}"
          name="{{ widget.gallery_photo7_alt.value_field_name }}"
          value="{{ widget.gallery_photo7_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo8_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo8_url.value_field_id }}" >
          Photo 8 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo8_url.value_field_id }}"
          name="{{ widget.gallery_photo8_url.value_field_name }}"
          value="{{ widget.gallery_photo8_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo8_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo8_alt.value_field_id }}" >
          Photo 8 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo8_alt.value_field_id }}"
          name="{{ widget.gallery_photo8_alt.value_field_name }}"
          value="{{ widget.gallery_photo8_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo9_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo9_url.value_field_id }}" >
          Photo 9 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo9_url.value_field_id }}"
          name="{{ widget.gallery_photo9_url.value_field_name }}"
          value="{{ widget.gallery_photo9_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo9_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo9_alt.value_field_id }}" >
          Photo 9 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo9_alt.value_field_id }}"
          name="{{ widget.gallery_photo9_alt.value_field_name }}"
          value="{{ widget.gallery_photo9_alt.value }}"
        />
      </div>
    </div>

    <div class="photo-field">
      <div class="form-field">
        {{ widget.gallery_photo10_url.id_hidden_field }}
        <label for="{{ widget.gallery_photo10_url.value_field_id }}" >
          Photo 10 URL
        </label>
        <input type="url"
          id="{{ widget.gallery_photo10_url.value_field_id }}"
          name="{{ widget.gallery_photo10_url.value_field_name }}"
          value="{{ widget.gallery_photo10_url.value | url_encode }}"
        />
      </div>

      <div class="form-field">
        {{ widget.gallery_photo10_alt.id_hidden_field }}
        <label for="{{ widget.gallery_photo10_alt.value_field_id }}" >
          Photo 10 Alt Tag
        </label>
        <input type="text"
          id="{{ widget.gallery_photo10_alt.value_field_id }}"
          name="{{ widget.gallery_photo10_alt.value_field_name }}"
          value="{{ widget.gallery_photo10_alt.value }}"
        />
      </div>
    </div>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
