<div class="h-g5-component">
  <header>
    <dl>
      <dt>Name</dt>
      <dd>
        <span class="p-name">Name of Component</span>
      </dd>
      <dt>Widget ID</dt>
      <dd>
        <span class="p-widget-id">1</span>
      </dd>
      <dt>Summary</dt>
      <dd>
        <span class="p-summary">What this component does/looks like</span>
      </dd>
      <dt>Targets</dt>
      <dd>
        <dl>
          <dd class="u-g5-target">http://example.herokuapp.com/apps/1s7nay2b-storage-client</dd>
          <dd class="u-g5-target">http://example.herokuapp.com/apps/1234-some-client</dd>
        </dl>
      </dd>
			<dt>Property Group</dt>
			<dd>
				<dl class="h-g5-property-group e-g5-property-group">
				  <dt>Name</dt>
				  <dd class="p-name">Feed</dd>
				  <dt>Category</dt>
				  <dd class="p-category">Instance</dd>
				  <dt>Properties</dt>
				  <dd class="h-g5-property e-g5-property">
				    <dl>
				      <dt>Username</dt>
				      <dd class="p-g5-name">username</dd>
				      <dt>Editable</dt>
				      <dd class="p-g5-editable">true</dd>
				      <dt>Default Value</dt>
				      <dd class="p-g5-default-value">Twitter Feed</dd>
				    </dl>
				  </dd>
					<dd class="h-g5-property e-g5-property">
				  	<dl>
				      <dt>Some other property</dt>
				      <dd class="p-g5-name">some property</dd>
				      <dt>Editable</dt>
				      <dd class="p-g5-editable">false</dd>
				      <dt>Default Value</dt>
				      <dd class="p-g5-default-value">Some default value</dd>
				    </dl>
				  </dd>
				</dl>
			</dd>  <!-- END e-g5-properties -->

    </dl>
  </header>
</div>
