<form>
  <div class="form-field">
    {{ widget.phone_number.id_hidden_field }}
    <label for="{{ widget.phone_number.value_field_id }}" >
      Phone Number
    </label>
    <input type="tel"
      placeholder="Optional. Only used as fallback if call tracking numbers are not set up"
      id="{{ widget.phone_number.value_field_id }}"
      name="{{ widget.phone_number.value_field_name }}"
      value="{{ widget.phone_number.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.client_urn.id_hidden_field }}
    <label for="{{ widget.client_urn.value_field_id }}" >
      Client URN
    </label>
    <input type="text"
      id="{{ widget.client_urn.value_field_id }}"
      name="{{ widget.client_urn.value_field_name }}"
      value="{{ widget.client_urn.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.location_urn.id_hidden_field }}
    <label for="{{ widget.location_urn.value_field_id }}" >
      Location URN
    </label>
    <input type="text"
      id="{{ widget.location_urn.value_field_id }}"
      name="{{ widget.location_urn.value_field_name }}"
      value="{{ widget.location_urn.value }}"
    />
  </div>

  <div class="form-field check-field">
    {{ widget.display_phone.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.display_phone.value_field_id }}_false"
      name="{{ widget.display_phone.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.display_phone.value_field_id }}"
      name="{{ widget.display_phone.value_field_name }}"
      value="true"
      {% if widget.display_phone.value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.display_phone.value_field_id }}" >
      Display Phone Number Inline
    </label>
  </div>

  <div class="form-field check-field">
    {{ widget.append_phone.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.append_phone.value_field_id }}_false"
      name="{{ widget.append_phone.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.append_phone.value_field_id }}"
      name="{{ widget.append_phone.value_field_name }}"
      value="true"
      {% if widget.append_phone.value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.append_phone.value_field_id }}" >
      Append Phone Number to Other Elements
    </label>
  </div>

  <div class="form-field check-field">
    {{ widget.prepend_phone.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.prepend_phone.value_field_id }}_false"
      name="{{ widget.prepend_phone.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.prepend_phone.value_field_id }}"
      name="{{ widget.prepend_phone.value_field_name }}"
      value="true"
      {% if widget.prepend_phone.value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.prepend_phone.value_field_id }}" >
      Prepend Phone Number to Other Elements
    </label>
  </div>

  <div class="form-field">
    {{ widget.append_elements.id_hidden_field }}
    <label for="{{ widget.append_elements.value_field_id }}" >
      Other Phone Elements
    </label>
    <input type="text"
      id="{{ widget.append_elements.value_field_id }}"
      name="{{ widget.append_elements.value_field_name }}"
      value="{{ widget.append_elements.value }}"
    />
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
