<div class="social-feed widget">
  <script id="social-feed-config" type="application/json">
    {
      "twitter_username": "{{ widget.twitter_username.best_value }}",
      "tweet_count": {{ widget.twitter_tweet_count.best_value }},
      "display_avatar": {{widget.display_avatars.best_value}},
      "feed_url": "{{ widget.blog_feed_url.best_value | url_encode }}",
      "show_entry_summary": {{ widget.blog_feed_display_summary.best_value }},
      "entries_to_show": {{ widget.blog_feed_number_to_display.best_value }},
      "facebook_page_id": "{{ widget.facebook_page_id.best_value }}",
      "facebook_post_limit": {{ widget.facebook_post_count.best_value }},
      "google_plus_page_id": "{{ widget.google_plus_page_id.best_value }}",
      "google_plus_post_limit": {{ widget.google_plus_post_count.best_value }}
    }
  </script>

  <div class="feed-switcher">
  </div>

</div>
