<form>
  <div class="form-field">
    {{ widget.store_urn.id_hidden_field }}
    <label for="{{ widget.store_urn.value_field_id }}">
      Store URN
    </label>
    <input type="text"
      placeholder="1234"
      id="{{ widget.store_urn.value_field_id }}"
      name="{{ widget.store_urn.value_field_name }}"
      value="{{ widget.store_urn.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.service_host.id_hidden_field }}
    <label for="{{ widget.service_host.value_field_id }}">
      Inventory Service Host
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com"
      id="{{ widget.service_host.value_field_id }}"
      name="{{ widget.service_host.value_field_name }}"
      value="{{ widget.service_host.best_value }}"
    />
  <div class="form-field">
    {{ widget.move_in_cost_service_host.id_hidden_field }}
    <label for="{{ widget.move_in_cost_service_host.value_field_id }}">
     Move In Cost Service Host
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com"
      id="{{ widget.move_in_cost_service_host.value_field_id }}"
      name="{{ widget.move_in_cost_service_host.value_field_name }}"
      value="{{ widget.move_in_cost_service_host.best_value }}"
    />  
  </div>
  <div class="form-field">
    {{ widget.unit_size_help_url.id_hidden_field }}
    <label for="{{ widget.unit_size_help_url.value_field_id }}">
      Unit Size Help URL
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com/unit_size_help.html"
      id="{{ widget.unit_size_help_url.value_field_id }}"
      name="{{ widget.unit_size_help_url.value_field_name }}"
      value="{{ widget.unit_size_help_url.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.unit_size_help_label.id_hidden_field }}
    <label for="{{ widget.unit_size_help_label.value_field_id }}">
      Unit Size Help Label
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.unit_size_help_label.value_field_id }}"
      name="{{ widget.unit_size_help_label.value_field_name }}"
      value="{{ widget.unit_size_help_label.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.disclaimer_text.id_hidden_field }}
    <label for="{{ widget.disclaimer_text.value_field_id }}">
      Disclaimer Text
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.disclaimer_text.value_field_id }}"
      name="{{ widget.disclaimer_text.value_field_name }}"
      value="{{ widget.disclaimer_text.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.final_instructions_1.id_hidden_field }}
    <label for="{{ widget.final_instructions_1.value_field_id }}">
      Final Instructions (1st Paragraph)
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.final_instructions_1.value_field_id }}"
      name="{{ widget.final_instructions_1.value_field_name }}"
      value="{{ widget.final_instructions_1.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.final_instructions_2.id_hidden_field }}
    <label for="{{ widget.final_instructions_2.value_field_id }}">
      Final Instructions (2nd Paragraph)
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.final_instructions_2.value_field_id }}"
      name="{{ widget.final_instructions_2.value_field_name }}"
      value="{{ widget.final_instructions_2.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.final_instructions_3.id_hidden_field }}
    <label for="{{ widget.final_instructions_3.value_field_id }}">
      Final Instructions (3rd Paragraph)
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.final_instructions_3.value_field_id }}"
      name="{{ widget.final_instructions_3.value_field_name }}"
      value="{{ widget.final_instructions_3.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.map_page_path.id_hidden_field }}
    <label for="{{ widget.map_page_path.value_field_id }}">
      Map Page
    </label>
    <select id="{{ widget.map_page_path.value_field_id }}" name="{{ widget.map_page_path.value_field_name }}">
      {% for page in widget.navigateable_pages %}
        <option value="{{ page.slug }}"
          {% if widget.map_page_path.value == page.slug %}
            selected
          {% endif %} >{{ page.slug }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-field">
    {{ widget.return_to_site_path.id_hidden_field }}
    <label for="{{ widget.return_to_site_path.value_field_id }}">
      Return Page
    </label>
    <select id="{{ widget.return_to_site_path.value_field_id }}" name="{{ widget.return_to_site_path.value_field_name }}">
      {% for page in widget.navigateable_pages %}
        <option value="{{ page.slug }}"
          {% if widget.return_to_site_path.value == page.slug %}
            selected
          {% endif %} >{{ page.slug }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-field">
    {{ widget.primary_color.id_hidden_field }}
    <label for="{{ widget.primary_color.value_field_id }}">
      Primary Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.primary_color.value_field_id }}"
      name="{{ widget.primary_color.value_field_name }}"
      value="{{ widget.primary_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.secondary_color.id_hidden_field }}
    <label for="{{ widget.secondary_color.value_field_id }}">
      Secondary Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.secondary_color.value_field_id }}"
      name="{{ widget.secondary_color.value_field_name }}"
      value="{{ widget.secondary_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.accent_color.id_hidden_field }}
    <label for="{{ widget.accent_color.value_field_id }}">
      Accent Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.accent_color.value_field_id }}"
      name="{{ widget.accent_color.value_field_name }}"
      value="{{ widget.accent_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.text_color.id_hidden_field }}
    <label for="{{ widget.text_color.value_field_id }}">
      Text Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.text_color.value_field_id }}"
      name="{{ widget.text_color.value_field_name }}"
      value="{{ widget.text_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.button_text_color.id_hidden_field }}
    <label for="{{ widget.button_text_color.value_field_id }}">
      Button Text Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.button_text_color.value_field_id }}"
      name="{{ widget.button_text_color.value_field_name }}"
      value="{{ widget.button_text_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.toggle_color.id_hidden_field }}
    <label for="{{ widget.toggle_color.value_field_id }}">
      Arrow Toggle Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.toggle_color.value_field_id }}"
      name="{{ widget.toggle_color.value_field_name }}"
      value="{{ widget.toggle_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.amenity_color.id_hidden_field }}
    <label for="{{ widget.amenity_color.value_field_id }}">
      Amenity Icon Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.amenity_color.value_field_id }}"
      name="{{ widget.amenity_color.value_field_name }}"
      value="{{ widget.amenity_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.elease_nav_color_1.id_hidden_field }}
    <label for="{{ widget.elease_nav_color_1.value_field_id }}">
      Elease Nav Color 1
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.elease_nav_color_1.value_field_id }}"
      name="{{ widget.elease_nav_color_1.value_field_name }}"
      value="{{ widget.elease_nav_color_1.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.elease_nav_color_2.id_hidden_field }}
    <label for="{{ widget.elease_nav_color_2.value_field_id }}">
      Elease Nav Color 2
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.elease_nav_color_2.value_field_id }}"
      name="{{ widget.elease_nav_color_2.value_field_name }}"
      value="{{ widget.elease_nav_color_2.best_value }}"
    />
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
