<form action="{{ widget.form_action.value | url_encode }}" class="h-entry">
  <div class="form-field">
    {{ widget.location_urn.id_hidden_field }}
    <label for="{{ widget.location_urn.value_field_id }}" >
      Location URN
    </label>
    <input type="text"
      id="{{ widget.location_urn.value_field_id }}"
      name="{{ widget.location_urn.value_field_name }}"
      value="{{ widget.location_urn.value }}"
    />
  </div>

  <div class="form-field">
    {{ widget.form_note.id_hidden_field }}
    <label for="{{ widget.form_note.value_field_id }}" >
      Form Note
    </label>
    <input type="text"
      id="{{ widget.form_note.value_field_id }}"
      name="{{ widget.form_note.value_field_name }}"
      value="{{ widget.form_note.value }}"
    />
  </div>

  <div class="form-field">
    <label for="{{ widget.success_redirect_url.value_field_id }}" >
      Form Type
    </label>
    {{ widget.form_type.id_hidden_field }}
    <select id="{{ widget.form_type.value_field_id }}"
      name="{{ widget.form_type.value_field_name }}">

      <option value="apply" {% if widget.form_type.value == "apply" %}selected{% endif %}>
        Apply
      </option>

      <option value="contact" {% if widget.form_type.value == "contact" %}selected{% endif %}>
        Contact
      </option>

      <option value="maintenance" {% if widget.form_type.value == "maintenance" %}selected{% endif %}>
        Maintenance
      </option>

      <option value="request" {% if widget.form_type.value == "request" %}selected{% endif %}>
        Request
      </option>

      <option value="suggestion" {% if widget.form_type.value == "suggestion" %}selected{% endif %}>
        Suggestion
      </option>

      <option value="tour" {% if widget.form_type.value == "tour" %}selected{% endif %}>
        Tour
      </option>

      <option value="inquiry" {% if widget.form_type.value == "inquiry" %}selected{% endif %}>
        YVSL Inquiry
      </option>

      <option value="tour_request" {% if widget.form_type.value == "tour_request" %}selected{% endif %}>
        YVSL Tour Request
      </option>

      <option value="contact_us" {% if widget.form_type.value == "contact_us" %}selected{% endif %}>
        YVSL Contact Us
      </option>

      <option value="contact_us" {% if widget.form_type.value == "contact_us" %}selected{% endif %}>
        Yardi Voyager Contact Us
      </option>

      <option value="online_application" {% if widget.form_type.value == "online_application" %}selected{% endif %}>
        Yardi Voyager Application
      </option>

      <option value="tour_request" {% if widget.form_type.value == "tour_request" %}selected{% endif %}>
        Yardi Voyager Tour Request
      </option>

    </select>
  </div>

  <div class="form-field">
    <label for="{{ widget.success_redirect_url.value_field_id }}" >
      Successful Submission Redirect URL
    </label>
    {{ widget.success_redirect_url.id_hidden_field }}
    <input type="url"
      id="{{ widget.success_redirect_url.value_field_id }}"
      name="{{ widget.success_redirect_url.value_field_name }}"
      value="{{ widget.success_redirect_url.value | url_encode }}"
    />
  </div>

  <input type="submit" value="Save" class="btn" />
</form>

