<form>
  <div class="form-field">
    {{ widget.photo_1_url.id_hidden_field }}
    <label for="{{ widget.photo_1_url.value_field_id }}" >
      Photo 1 URL
    </label>
    <input type="text"
      id="{{ widget.photo_1_url.value_field_id }}"
      name="{{ widget.photo_1_url.value_field_name }}"
      value="{{ widget.photo_1_url.value }}"
      placeholder="Required"
      required
    />
  </div>
  <div class="form-field">
    {{ widget.photo_1_alt.id_hidden_field }}
    <label for="{{ widget.photo_1_alt.value_field_id }}" >
      Photo 1 ALT
    </label>
    <input type="text"
      id="{{ widget.photo_1_alt.value_field_id }}"
      name="{{ widget.photo_1_alt.value_field_name }}"
      value="{{ widget.photo_1_alt.value }}"
      placeholder="ALT text is required if you have a URL"
      required
    />
  </div>
  <div class="form-field">
    {{ widget.photo_2_url.id_hidden_field }}
    <label for="{{ widget.photo_2_url.value_field_id }}" >
      Photo 2 URL
    </label>
    <input type="text"
      id="{{ widget.photo_2_url.value_field_id }}"
      name="{{ widget.photo_2_url.value_field_name }}"
      value="{{ widget.photo_2_url.value }}"
      placeholder="Required"
      required
    />
  </div>
  <div class="form-field">
    {{ widget.photo_2_alt.id_hidden_field }}
    <label for="{{ widget.photo_2_alt.value_field_id }}" >
      Photo 2 ALT
    </label>
    <input type="text"
      id="{{ widget.photo_2_alt.value_field_id }}"
      name="{{ widget.photo_2_alt.value_field_name }}"
      value="{{ widget.photo_2_alt.value }}"
      placeholder="ALT text is required if you have a URL"
      required
    />
  </div>
  <div class="form-field">
    {{ widget.photo_3_url.id_hidden_field }}
    <label for="{{ widget.photo_3_url.value_field_id }}" >
      Photo 3 URL
    </label>
    <input type="text"
      id="{{ widget.photo_3_url.value_field_id }}"
      name="{{ widget.photo_3_url.value_field_name }}"
      value="{{ widget.photo_3_url.value }}"
      placeholder="Optional"
    />
  </div>
  <div class="form-field">
    {{ widget.photo_3_alt.id_hidden_field }}
    <label for="{{ widget.photo_3_alt.value_field_id }}" >
      Photo 3 ALT
    </label>
    <input type="text"
      id="{{ widget.photo_3_alt.value_field_id }}"
      name="{{ widget.photo_3_alt.value_field_name }}"
      value="{{ widget.photo_3_alt.value }}"
      placeholder="ALT text is required if you have a URL"
    />
  </div>
  <div class="form-field">
    {{ widget.photo_4_url.id_hidden_field }}
    <label for="{{ widget.photo_4_url.value_field_id }}" >
      Photo 4 URL
    </label>
    <input type="text"
      id="{{ widget.photo_4_url.value_field_id }}"
      name="{{ widget.photo_4_url.value_field_name }}"
      value="{{ widget.photo_4_url.value }}"
      placeholder="Optional"
    />
  </div>
  <div class="form-field">
    {{ widget.photo_4_alt.id_hidden_field }}
    <label for="{{ widget.photo_4_alt.value_field_id }}" >
      Photo 4 ALT
    </label>
    <input type="text"
      id="{{ widget.photo_4_alt.value_field_id }}"
      name="{{ widget.photo_4_alt.value_field_name }}"
      value="{{ widget.photo_4_alt.value }}"
      placeholder="ALT text is required if you have a URL"
    />
  </div>
  <div class="form-field">
    {{ widget.photo_5_url.id_hidden_field }}
    <label for="{{ widget.photo_5_url.value_field_id }}" >
      Photo 5 URL
    </label>
    <input type="text"
      id="{{ widget.photo_5_url.value_field_id }}"
      name="{{ widget.photo_5_url.value_field_name }}"
      value="{{ widget.photo_5_url.value }}"
      placeholder="Optional"
    />
  </div>
  <div class="form-field">
    {{ widget.photo_5_alt.id_hidden_field }}
    <label for="{{ widget.photo_5_alt.value_field_id }}" >
      Photo 5 ALT
    </label>
    <input type="text"
      id="{{ widget.photo_5_alt.value_field_id }}"
      name="{{ widget.photo_5_alt.value_field_name }}"
      value="{{ widget.photo_5_alt.value }}"
      placeholder="ALT text is required if you have a URL"
    />
  </div>

  <input type="submit" value="Save" />
</form>