<form>
  <fieldset>

    <div class="form-field">
      {{ widget.branded_name.id_hidden_field }}
      <label for="{{ widget.branded_name.value_field_id }}" >
        Location Branded Name
      </label>
      <input type="text"
        placeholder="Optional"
        id="{{ widget.branded_name.value_field_id }}"
        name="{{ widget.branded_name.value_field_name }}"
        value="{{ widget.branded_name.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.review_api_url.id_hidden_field }}
      <label for="{{ widget.review_api_url.value_field_id }}" >
        Promoted Reviews API URL
      </label>
      <input type="text"
        placeholder="https://reputation.g5search.com/api/promoted_reviews/stores/XXXX.json"
        id="{{ widget.review_api_url.value_field_id }}"
        name="{{ widget.review_api_url.value_field_name }}"
        value="{{ widget.review_api_url.value }}"
      />
    </div>
         
    <div class="form-field">
      {{ widget.review_page_url.id_hidden_field }}
      <label for="{{ widget.review_page_url.value_field_id }}" >
        Path to Full Text Reviews
      </label>
      <input type="text"
        placeholder="/relative/path/to/review-page"
        id="{{ widget.review_page_url.value_field_id }}"
        name="{{ widget.review_page_url.value_field_name }}"
        value="{{ widget.review_page_url.value }}"
      />
    </div>
         
    <div class="form-field">
      {{ widget.insert_review_schema.id_hidden_field }}
      <label for="{{ widget.insert_review_schema.value_field_id }}" >
        Element Selector For Summary
      </label>
      <input type="text"
        placeholder="Defaults to .contact-info if blank"
        id="{{ widget.insert_review_schema.value_field_id }}"
        name="{{ widget.insert_review_schema.value_field_name }}"
        value="{{ widget.insert_review_schema.value }}"
      />
    </div>
         
    <div class="form-field field check-field">
      {{ widget.full_review_content.id_hidden_field }}
      <label for="{{ widget.full_review_content.value_field_id }}" >
        Display Full Review Text
      </label>
      <input type="hidden"
        id="{{ widget.full_review_content.value_field_id }}_false"
        name="{{ widget.full_review_content.value_field_name }}"
        value=""
      />
      <input type="checkbox"
        id="{{ widget.full_review_content.value_field_id }}"
        name="{{ widget.full_review_content.value_field_name }}"
        value="true"
        {% if widget.full_review_content.value == "true" %}
        checked="checked"
        {% endif %}
      />
    </div>

  </fieldset>
  <input type="submit" value="Save" class="btn" />
</form>
