.row:before,
.row:after,
.row-grid:before,
.row-grid:after {
  content: " ";
  display: table;
}
.row:after,
.row-grid:after {
  clear: both;
}

.row-grid {
  margin: 0 -15px;
}

.col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}

.row-halves .col,
.row-uneven-thirds-1 .col,
.row-uneven-thirds-2 .col,
.row-thirds .col,
.row-quarters .col {
  float: left;
}

.row-halves .col {
  width: 50%;
}

.row-thirds .col {
  width: 33.33333%;
}

.row-uneven-thirds-1 .col-1 {
  width: 33.33333%;
}

.row-uneven-thirds-1 .col-2 {
  width: 66.66667%;
}

.row-uneven-thirds-2 .col-1 {
  width: 66.66667%;
}

.row-uneven-thirds-2 .col-2 {
  width: 33.33333%;
}

.row-quarters .col {
  width: 25%;
}
