<form>
  <div class="column-edit" data-column-id="{{widget.id}}" data-row-id="{{widget.parent_widget_id}}">
    <!-- Select row count -->
    <div class="form-field">
      {{ widget.row_count.id_hidden_field }}

      <label for="{{ widget.row_count.value_field_id }}">
        Select Number of Widgets
      </label>

      <select id="{{ widget.row_count.value_field_id }}"
        class="select-row-count"
        name="{{ widget.row_count.value_field_name }}">

        <option value="one" {% if widget.row_count.best_value =="one" %}selected{% endif %}>
        1
        </option>

        <option value="two" {% if widget.row_count.best_value == "two" %}selected{% endif %}>
        2
        </option>

        <option value="three" {% if widget.row_count.best_value == "three" %}selected{% endif %}>
        3
        </option>

        <option value="four" {% if widget.row_count.best_value == "four" %}selected{% endif %}>
        4
        </option>

        <option value="five" {% if widget.row_count.best_value == "five" %}selected{% endif %}>
        5
        </option>

        <option value="six" {% if widget.row_count.best_value == "six" %}selected{% endif %}>
        6
        </option>
      </select>
    </div>

    <p class="alert alert-info">Please save in order to configure changed widgets</p>

    <!-- Select Row One Widget -->
    <div class="form-field row-widgets one two three four five six">
      {{ widget.row_one_widget_name.id_hidden_field }}

      <label for="{{ widget.row_one_widget_name.value_field_id }}"
        class="inline">
        Row One Widget
      </label>

      {% if widget.row_one_widget_name.value %}
      <a id="edit-{{ widget.row_one_widget_name.value_field_id }}"
        data-widget-id="{{ widget.row_one_widget_id.value }}"
        data-widget-name="{{ widget.row_one_widget_name.value }}"
        class="edit-widget"
        href="#">
        <small>(Edit)</small>
      </a>
      {% endif %}

      <select id="{{ widget.row_one_widget_name.value_field_id }}"
        name="{{ widget.row_one_widget_name.value_field_name }}">

        <option value="">
        {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
        {% if garden_widget == widget.row_one_widget_name.value %}
        selected
        {% endif %}
        >
        {{ garden_widget }}
        </option>
        {% endfor %}

      </select>
    </div>

    <!-- Select Row Two Widget -->
    <div class="form-field row-widgets two three four five six">
      {{ widget.row_two_widget_name.id_hidden_field }}

      <label for="{{ widget.row_two_widget_name.value_field_id }}"
        class="inline">
        Row Two Widget
      </label>

      {% if widget.row_two_widget_name.value %}
      <a id="edit-{{ widget.row_two_widget_name.value_field_id }}"
        data-widget-id="{{ widget.row_two_widget_id.value }}"
        data-widget-name="{{ widget.row_two_widget_name.value }}"
        class="edit-widget"
        href="#">
        <small>(Edit)</small>
      </a>
      {% endif %}

      <select id="{{ widget.row_two_widget_name.value_field_id }}"
        name="{{ widget.row_two_widget_name.value_field_name }}">

        <option value="">
        {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
        {% if garden_widget == widget.row_two_widget_name.value %}
        selected
        {% endif %}
        >
        {{ garden_widget }}
        </option>
        {% endfor %}

      </select>
    </div>

    <!-- Select Row Three Widget -->
    <div class="form-field row-widgets three four five six">
      {{ widget.row_three_widget_name.id_hidden_field }}

      <label for="{{ widget.row_three_widget_name.value_field_id }}"
        class="inline">
        Row Three Widget
      </label>

      {% if widget.row_three_widget_id.value %}
      <a id="edit-{{ widget.row_three_widget_name.value_field_id }}"
        data-widget-id="{{ widget.row_three_widget_id.value }}"
        data-widget-name="{{ widget.row_three_widget_name.value }}"
        class="edit-widget"
        href="#">
        <small>(Edit)</small>
      </a>
      {% endif %}

      <select id="{{ widget.row_three_widget_name.value_field_id }}"
        name="{{ widget.row_three_widget_name.value_field_name }}">

        <option value="">
        {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
        {% if garden_widget == widget.row_three_widget_name.value %}
        selected
        {% endif %}
        >
        {{ garden_widget }}
        </option>
        {% endfor %}

      </select>
    </div>

    <!-- Select Row Four Widget -->
    <div class="form-field row-widgets four five six">
      {{ widget.row_four_widget_name.id_hidden_field }}

      <label for="{{ widget.row_four_widget_name.value_field_id }}"
        class="inline">
        Row Four Widget
      </label>

      {% if widget.row_four_widget_id.value %}
      <a id="edit-{{ widget.row_four_widget_name.value_field_id }}"
        data-widget-id="{{ widget.row_four_widget_id.value }}"
        data-widget-name="{{ widget.row_four_widget_name.value }}"
        class="edit-widget"
        href="#">
        <small>(Edit)</small>
      </a>
      {% endif %}

      <select id="{{ widget.row_four_widget_name.value_field_id }}"
        name="{{ widget.row_four_widget_name.value_field_name }}">

        <option value="">
        {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
        {% if garden_widget == widget.row_four_widget_name.value %}
        selected
        {% endif %}
        >
        {{ garden_widget }}
        </option>
        {% endfor %}

      </select>
    </div>

    <!-- Select Row Five Widget -->
    <div class="form-field row-widgets five six">
      {{ widget.row_five_widget_name.id_hidden_field }}

      <label for="{{ widget.row_five_widget_name.value_field_id }}"
        class="inline">
        Row Five Widget
      </label>

      {% if widget.row_five_widget_id.value %}
      <a id="edit-{{ widget.row_five_widget_name.value_field_id }}"
        data-widget-id="{{ widget.row_five_widget_id.value }}"
        data-widget-name="{{ widget.row_five_widget_name.value }}"
        class="edit-widget"
        href="#">
        <small>(Edit)</small>
      </a>
      {% endif %}

      <select id="{{ widget.row_five_widget_name.value_field_id }}"
        name="{{ widget.row_five_widget_name.value_field_name }}">

        <option value="">
        {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
        {% if garden_widget == widget.row_five_widget_name.value %}
        selected
        {% endif %}
        >
        {{ garden_widget }}
        </option>
        {% endfor %}

      </select>
    </div>

    <!-- Select Row Six Widget -->
    <div class="form-field row-widgets six">
      {{ widget.row_six_widget_name.id_hidden_field }}

      <label for="{{ widget.row_six_widget_name.value_field_id }}"
        class="inline">
        Row Six Widget
      </label>

      {% if widget.row_six_widget_id.value %}
      <a id="edit-{{ widget.row_six_widget_name.value_field_id }}"
        data-widget-id="{{ widget.row_six_widget_id.value }}"
        data-widget-name="{{ widget.row_six_widget_name.value }}"
        class="edit-widget"
        href="#">
        <small>(Edit)</small>
      </a>
      {% endif %}

      <select id="{{ widget.row_six_widget_name.value_field_id }}"
        name="{{ widget.row_six_widget_name.value_field_name }}">

        <option value="">
        {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
        {% if garden_widget == widget.row_six_widget_name.value %}
        selected
        {% endif %}
        >
        {{ garden_widget }}
        </option>
        {% endfor %}

      </select>
    </div>

    <input type="submit" value="Save" class="btn" />

    <a href="#" class="btn go-back">Go Back</a>
  </div>
</form>
