<form>
  <div class="form-field">
    {{ widget.location_street_address.id_hidden_field }}
    <label for="{{ widget.location_street_address.value_field_id }}" >
      Street Address
    </label>
    <input type="text"
      id="{{ widget.location_street_address.value_field_id }}"
      name="{{ widget.location_street_address.value_field_name }}"
      value="{{ widget.location_street_address.best_value }}"
    />
  </div>
  
  <div class="form-field">
    {{ widget.location_city.id_hidden_field }}
    <label for="{{ widget.location_city.value_field_id }}" >
      City
    </label>
    <input type="text"
      id="{{ widget.location_city.value_field_id }}"
      name="{{ widget.location_city.value_field_name }}"
      value="{{ widget.location_city.best_value }}"
    />
  </div>
  
  <div class="form-field">
    {{ widget.location_state.id_hidden_field }}
    <label for="{{ widget.location_state.value_field_id }}" >
      State
    </label>
    <input type="text"
      id="{{ widget.location_state.value_field_id }}"
      name="{{ widget.location_state.value_field_name }}"
      value="{{ widget.location_state.best_value }}"
    />
  </div>
  
  <div class="form-field">
    {{ widget.location_postal_code.id_hidden_field }}
    <label for="{{ widget.location_postal_code.value_field_id }}" >
      Postal Code
    </label>
    <input type="text"
      id="{{ widget.location_postal_code.value_field_id }}"
      name="{{ widget.location_postal_code.value_field_name }}"
      value="{{ widget.location_postal_code.best_value }}"
    />
  </div>

  <div class="form-field check-field">
    <fieldset>
      <legend>Map Type</legend>
      {{ widget.map_type.id_hidden_field }}
      <input type="radio"
        id="{{ widget.map_type.value_field_id }}_roadmap"
        name="{{ widget.map_type.value_field_name }}"
        value="ROADMAP"
        checked="checked"
      />
      <label for="{{ widget.map_type.value_field_id }}_roadmap" >
        Road Map
      </label>
      <input type="radio"
        id="{{ widget.map_type.value_field_id }}_satellite"
        name="{{ widget.map_type.value_field_name }}"
        value="SATELLITE"
        {% if widget.map_type.best_value == "SATELLITE" %}
        checked="checked"
        {% endif %}
      />
      <label for="{{ widget.map_type.value_field_id }}_satellite" >
        Satellite
      </label>
    </fieldset>
  </div>

  <div class="form-field check-field">
    {{ widget.map_allow_pan_zoom.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.map_allow_pan_zoom.value_field_id }}_false"
      name="{{ widget.map_allow_pan_zoom.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.map_allow_pan_zoom.value_field_id }}"
      name="{{ widget.map_allow_pan_zoom.value_field_name }}"
      value="true"
      {% if widget.map_allow_pan_zoom.best_value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.map_allow_pan_zoom.value_field_id }}" >
      map_allow Panning and Zooming
    </label>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
