{% if widget.button_label.best_value != blank or widget.button_image_url.best_value != blank %}
<span class="button button-{{widget.button_layout.best_value}} widget">

  <a href="{{ widget.button_url.best_value | url_encode }}" {% if widget.button_new_window.value == "true" %}target="_blank"{% endif %}>
    {% if widget.button_image_url.best_value != blank %}
      <img class="btn-img" src="{{ widget.button_image_url.best_value | url_encode }}" />
    {% endif %}

    {% if widget.button_label.best_value != blank %}
      <span class="btn" {% if widget.button_color.best_value != blank %}style="background-color: {{widget.button_color.best_value}}"{% endif %}>
        {{ widget.button_label.best_value }}
      </span>
    {% endif %}
  </a>

  {% if widget.button_description.best_value != blank %}
    <p class="button-description">{{ widget.button_description.best_value }}</p>
  {% endif %}
</span>
{% endif %}