<script id="mini-news-feed-config" type="application/json">
  { "newsServiceDomain": "{{ widget.news_service_domain.value }}",
    "locationURN":       "{{ widget.location_urn.best_value }}",
    "numberOfPosts":     "{{ widget.number_of_posts.value }}",
    "headingText":       "{{ widget.heading_text.value }}",
    "newsPagePath":      "{{ widget.news_page_path.best_value }}",
    "backgroundColor":   "{{ widget.background_color.value }}",
    "displayPhotos":     "{{ widget.display_photos.value }}",
    "defaultImage":      "{{ widget.default_image.value }}"
  }
</script>

<style>
  {% if widget.background_color.value != blank %}
    .mini-news-feed-widget a.all-news-link{ background-color:{{ widget.background_color.value }}; }
  {% endif %}
</style>

<div class="mini-news-feed-widget widget" id="mini-news-feed-widget">
  {% if widget.heading_text.value != blank %}
    <h2 id="news-feed-top">{{ widget.heading_text.value }}</h2>
  {% endif %}
</div>
