
<div class="row{% if widget.row_text_color.value != 'default' %} text-{{widget.row_text_color.value}}{% endif %}{% if widget.row_css_custom.value != blank %} {{widget.row_css_custom.value}}{% endif %}" {% if widget.row_bg_color.value != '' %}style="background-color: {{ widget.row_bg_color.value }}"{% endif %}>

  <div class="content row-{{ widget.row_layout.value }}">
    <div class="row-grid">

      <div class="col col-1" id="drop-target-first-col"></div>

      {% if widget.row_layout.value != "single" %}
        <div class="col col-2" id="drop-target-second-col"></div>
      {% endif %}

      {% if widget.row_layout.value == "thirds" or widget.row_layout.value == "quarters" %}
        <div class="col col-3" id="drop-target-third-col"></div>
      {% endif %}

      {% if widget.row_layout.value == "quarters" %}
        <div class="col col-4" id="drop-target-fourth-col"></div>
      {% endif %}

    </div>
  </div>
</div>
