<div class="tour-form widget g5-enhanced-form">

  <script class="config" type="application/json">
    {
      "clientUrn": "{{ widget.client_urn.value }}"
    }
  </script>

  {% if widget.form_title.value != "" %}
    <h2 class="form-heading">{{ widget.form_title.value}}</h2>
  {% endif %}

  <form id="form-template" class="form h-entry" action="{{ widget.cls_url.value | url_encode }}html_forms" method="POST">
    {% if widget.form_note.value != "" %}
      <p class="form-note">{{ widget.form_note.value }}</p>
    {% endif %}

    <input type="hidden" class="u-uid" name="u-uid" value="{{ widget.form_uid.value | url_encode }}" />
    <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication_url.value | url_encode }}" />

    <div class="p-author h-card">
      <div class="form-field">
        <label for="p-name" class="required">Full Name</label>
        <input type="text" id="p-name" class="p-name" name="p-name" required />
      </div>

      <div class="form-field">
        <label for="u-email" class="required">Email</label>
        <input type="email" id="u-email" class="u-email" name="u-email" required />
      </div>

      <div class="form-field">
        <label for="p-tel" class="required">Phone Number</label>
        <input type="tel" id="p-tel" class="p-tel" name="p-tel" required />
      </div>

      <div class="h-adr p-adr">
        <div class="form-field">
          <label for="p-street-address">Street Address</label>
          <input type="text" id="p-street-address" class="p-street-address" name="p-street-address" />
        </div>
        <fieldset class="inline-fields">
          <div class="form-field">
            <label for="p-locality">City</label>
            <input type="text" id="p-locality" class="p-locality" name="p-locality" />
          </div>
          <div class="form-field">
            <label for="p-region">State</label>
            <select id="p-region" class="p-region" name="p-region" >
              <option value="" selected="selected">Select a State</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          <div class="form-field">
            <label for="p-postal-code">Zip Code</label>
            <input id="p-postal-code" class="p-postal-code" name="p-postal-code" type="text" pattern="(\d{5}([\-]\d{4})?)" title="5 digit postal code" />
          </div>
        </fieldset>
      </div>

    </div>

    <div class="form-field">
      <label for="p-g5-resident-2">How did you hear about us?</label>
      <input type="text" id="p-g5-discovery" class="p-g5-discovery" name="p-g5-discovery" />
    </div>

    <div class="form-field">
      <label for="e-content">Message</label>
      <textarea id="e-content" class="e-content" name="e-content"></textarea>
    </div>

    <!-- for bots only. inline js/css necessary to make sure this is always hidden -->
    <input id="lead_comments" name="lead_comments" onfocus="this.blur();" style="margin-left: -9999px; float: left;" type="text" value="" />

    <input type="submit" value="Send" />
    <span class="form-instruction">* Required Field</span>
  </form>

  <div class="submitting" style="display: none">Your submission is being sent...</div>
  <div class="error" style="display: none">We're sorry, but something went wrong.</div>
  <div class="success" style="display: none">Thank you! Your information was successfully sent.</div>

</div>
