<div class="directions widget clearfix">
  <script type="text/javascript">
    var directionsConfig = {
      "address": "{{ widget.location_street_address.value }}, {{ widget.location_city.value }}, {{ widget.location_state.value }} {{ widget.location_postal_code.value }}"
    }
  </script>

  <div class="error directions-error clearfix"></div>
  <div class="text clearfix">
    <label for="start">Start Address:</label>
    <input type="submit" value="Get Directions" class="directions-submit">
    <input type="text" name="directions-start" class="directions-start">
  </div>
  <div class="canvas clearfix"></div>
  <div class="panel clearfix"></div>
</div>
