<form>
  <div class="form-field">
    {{ widget.business_name.id_hidden_field }}
    <label for="{{ widget.business_name.value_field_id }}" >
      Business Name
    </label>
    <input type="text"
      id="{{ widget.business_name.value_field_id }}"
      name="{{ widget.business_name.value_field_name }}"
      value="{{ widget.business_name.value | url_encode }}"
    />
  </div>

  <div class="form-field check-field">
    {{ widget.display_logo.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.display_logo.value_field_id }}_false"
      name="{{ widget.display_logo.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.display_logo.value_field_id }}"
      name="{{ widget.display_logo.value_field_name }}"
      value="true"
      {% if widget.display_logo.value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.display_logo.value_field_id }}" >
      Display Logo
    </label>
  </div>

  <div class="form-field check-field">
    {{ widget.single_domain_location.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.single_domain_location.value_field_id }}_false"
      name="{{ widget.single_domain_location.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.single_domain_location.value_field_id }}"
      name="{{ widget.single_domain_location.value_field_name }}"
      value="true"
      {% if widget.single_domain_location.value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.single_domain_location.value_field_id }}" >
      Single Domain Location website? (i.e. - Builds Logo link differently than standard primary domain)
    </label>
  </div>

  <div class="form-field">
    {{ widget.logo_url.id_hidden_field }}
    <label for="{{ widget.logo_url.value_field_id }}" >
      Logo URL
    </label>
    <input type="text"
      id="{{ widget.logo_url.value_field_id }}"
      name="{{ widget.logo_url.value_field_name }}"
      value="{{ widget.logo_url.value | url_encode }}"
    />
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
