<div class="home-multifamily-iui widget">
  <!-- This needs to be hooked up to the edit form -->
  <script id="home-multifamily-iui-config" type="application/json">
    {
      "core_store_id": "{{ widget.core_store_id.value }}",
      "floorplan_page_url": "{{ widget.floorplan_page_url.value }}",
      "floorplans_service_host": "{{ widget.floorplans_service_host.value }}"
    }
  </script>

  <div class="iui-steps">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
  </div>

  <p class="iui-title">Select Size</p>

  <div class="iui-container">
    <p>Loading Floorplan Options</p>
  </div>
</div>
